*
{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

h1
{
    
    padding: 8px;
    color: #60720d;
}

h2{
    padding: 4px;
    color: #7c4d0e;
}

p
{
    padding: 4px;
    color: #9bb7cf;
}

