/*====================================*/
/* ====== CONFIGURAÇÕES GERAIS ====== */ 
/*===================================*/

*
{
    margin: 0;
    padding: 0;

}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f14;
    color: #f5f5f5;
    line-height: 1.6;
}

a
{
    text-decoration: none;
    color: inherit;
}

/*====================*/
/* ====== MENU ====== */
/*====================*/

header
{
    height: 80px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15151d;
    border-bottom: 3px solid #292936;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo h2
{
    font-size: 26px;
}

.logo span
{
    color: #636B2F;
}

nav
{
    display: flex;
    gap: 30px;
}

nav a
{
    color: #b8b8c7;
    font-size: 15px;
    transition: 0.3;
}

nav a:hover
{
    color: #636B2F;
}

/*======================*/
/* ====== INÍCIO ====== */
/*======================*/

.inicio
{
    min-height: calc(100vh - 80px);
    padding: 80px 10%;
    display: flex;
    align-items: center;
    background-color: #0f0f14;
}

.inicio-conteudo
{
    max-width: 750px;
}

.apresentacao
{
    color:#636B2F;
    font-size: 70px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 5px;
}

.inicio h1
{
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.inicio h2
{
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 25px;
    color: #9c9cab;
}

.descricao
{
    max-width: 600px;
    color: #9c9cab;
    font-size: 18px;
    margin-bottom: 35px;
}
/*======================*/
/* ====== BOTÕES ====== */
/*======================*/

.botoes
{
    display: flex;
    gap: 15px;
}

.botao
{
    display: inline-block;
    background-color: #636B2F;
    color: #ffffff;
    padding: 13px 25px;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.3;
}

.botao:hover
{
    background-color: #636B2F;
    transform: translateY(-3px);
}

.botao-secundario
{
    background-color: transparent;
    border: 1px solid #636B2F;
    color: #636B2F;
}

.botao-secundario:hover
{
    color: #ffffff;
    background-color: #636B2F;
}

/*======================*/
/* ====== SEÇÕES ====== */
/*======================*/

section
{
    padding: 100px 10%;
}

.titulo-secao
{
    margin-bottom: 50px;
}

.titulo-secao p
{
    color: #636B2F;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.titulo-secao h2
{
    font-size: 38px;
}

/*======================*/
/* ====== SOBRE ======= */
/*======================*/

.sobre 
{
    background-color: #15151d;
}

.sobre-conteudo
{
    display: flex;
    gap: 60px;
    align-items: center;
}

.sobre-texto
{
    flex: 1; 
    color: #666666;
}

.sobre-texto p 
{
    margin-bottom: 20px;
}

.habilidades
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habilidade
{
    background-color: #1d1d27;
    padding: 20px;
    border-radius: 7px;
    border-left: 4px solid #636B2F;;
}

.habilidade h3
{
    margin-top: 5px;
}

.habilidade p
{
color: #9292a0;
font-size: 14px;
}

/*========================*/
/* ====== CONTATO ======= */
/*========================*/

.contato
{
    background-color: #15151d;
    text-align: center;
}

.contato .titulo-secao
{
    margin-bottom: 20px;
}

.contato-texto
{
    max-width: 600px;
    margin: 0 auto 30px auto;
    color: #9c9cab;
}

.contato-links
{
    display: flex;
    justify-content: center;
    gap: 15px
}

.contato-links:hover
{
    border-color: #636B2F;
    color: #636B2F;
    transform: translateY(-3px);
}

/*=======================*/
/* ====== RODAPÉ ======= */
/*=======================*/

footer
{
    padding: 25px 10%;
    background-color: #0b0b10;
    color: #737380;
    display: flex;
    justify-content: space-between;
    font-size: 13px;    
}